@page "/Status"
<h3>Status</h3>

<table class="table">
    <thead>
    <tr>
        <th>Server Name</th>
        <th>Healthchecks.io Status</th>
        <th>Sentry.io Issue Count</th>
        <th>Azure Status</th>
        <th>AWS Status</th>
        <th>Atlas Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="td">Production</td>
        <td class="td">success</td>
        <td class="td">3</td>
        <td class="td">success</td>
        <td class="td">fail</td>
        <td class="td">success</td>
    </tr>
    </tbody>
</table>

@code {

}